@import url(./var.css);
@import url(./top.css);
@import url(./appmenu.css);
@import url(./channel.css);
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.4s;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: var(--font-family);
    background-color: var(--bg-color-home);
}

a:any-link {
    text-decoration: none;
    color: var(--font-on-and-icons-color);
}

div {
    border: 1px darkblue solid;
}
button {
    background-color: transparent;
    border: none;
}

.fas, .fab {
    color: var(--font-on-and-icons-color);
}

ul {
    list-style: none;
}