.top {
    grid-area: menu;
    background-color: var(--bg-color-menus);
    display: flex;
    align-items: center;
    width: 100vw;
    height: 10vh;
}

button {
    background-color: transparent;
    border: none;
}

.fas, .fab {
    color: var(--font-on-and-icons-color);
}

ul {
    list-style: none;
}

.top .topleft, .top .topcenter, .top .topright {
    height: 8vh;
}

.topleft ul li {
    display: inline;
    justify-content: center;
    align-items: space-evenly;
    flex-direction: row;
    margin: 2vw;
    width: 15vw;
}

.topcenter {
    display: flex;
    width: 60rem;
}

.topcenter ul li {
    display: inline;
    justify-content: center;
    align-items: space-evenly;
    flex-direction: row;
    width: 45vw;
}

.search {
    background-color: #313131;
}

.michro {
    background-color: var(--bg-color-home);
    border-radius: 50%;
}

.topright ul li {
    display: inline;
    justify-content: center;
    align-items: space-evenly;
    flex-direction: row;
}

input[type="search"] {
    background-color: var(--bg-color-home);
    border: #313131;
    width: 35vw;
}
.topleft ul li a {
    font-weight: 900;
}